# This is Git's per-user configuration file.
[user]
        name = Mike Hu
        email = m@mikehu.com
[alias]
        p = push
        r = pull --rebase
        st = status -sb
        ll = log --oneline
        last = log -1 HEAD --stat
        a = add
        c = commit
        ca = commit --amend
        co = checkout
        b = checkout -b
        bd = branch -D
        bl = branch --list
        clone-worktrees = "!sh $HOME/.config/scripts/git-clone-bare-for-worktrees.sh"
        cw = clone-worktrees
[help]
        autocorrect = 20
[init]
        defaultBranch = main

[pull]
        rebase = true
