*

!.gitignore
!.gitconfig
!.zshrc
!.zprofile
!.ssh/
!.config/

# SSH
!.ssh/config

# Scripts
!.config/scripts
!.config/scripts/*.sh

 Fonts
!.config/fonts
!.config/fonts/*.ttf

# Kitty
!.config/kitty
!.config/kitty/*.conf
!.config/kitty/*.icns
!.config/kitty/*.sh

# Nvim
!.config/nvim
!.config/nvim/*.vim
!.config/nvim/lua
!.config/nvim/lua/**

# Neovide
!.config/neovide
!.config/neovide/*.icns

# kube
!.config/kube
!.config/kube/config

# thefuck
!.config/thefuck
!.config/thefuck/*.py

# copilot
!.config/github-copilot

# flipper
!.config/flipperdevices.com
