*

!.gitignore
!.gitconfig
!.zshrc
!.zprofile
!.config/

# SSH
!.ssh/
!.ssh/config

# Starship
!.config/starship.toml

# Scripts
!.config/scripts
!.config/scripts/*.sh

# Fonts
!.config/fonts
!.config/fonts/*.ttf

# Tmux
!.config/tmux
!.config/tmux/tmux.conf

# Kitty
!.config/kitty
!.config/kitty/*.conf
!.config/kitty/*.icns
!.config/kitty/*.sh

# Nvim
!.config/nvim
!.config/nvim/*.vim
!.config/nvim/lua
!.config/nvim/lua/**

# Neovide
!.config/neovide
!.config/neovide/*.icns

# kube
!.config/kube
!.config/kube/config

# lazygit
!.config/lazygit
!.config/lazygit/config.yml

# bat
!.config/bat
!.config/bat/config

# thefuck
!.config/thefuck
!.config/thefuck/*.py

# copilot
!.config/github-copilot

# flipper
!.config/flipperdevices.com
