@import url("./colors.css");

@define-color green #50fa7b;
@define-color red #ff5555;
@define-color orange #ffb86c;
@define-color yellow #f1fa8c;

/* Reset all styles */
* {
  border: none;
  border-radius: 5px;
  font-family: "DroidSansM Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @foreground;
}

/* Tooltip */
tooltip {
  border: 1px solid alpha(@foreground, 0.1);
  background: alpha(@background, 0.85);
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

tooltip label {
  color: @foreground;
}

/* Group Start */
#custom-launcher,
#custom-power,
#idle_inhibitor,
#custom-wallpaper {
  margin: 8px 0 0 10px;
  font-size: 14px;
  background: alpha(@background, 0.4);
}

#custom-launcher:hover,
#custom-power:hover,
#idle_inhibitor.activated:hover,
#idle_inhibitor.deactivated:hover,
#custom-wallpaper:hover {
  color: @foreground;
}

/* Custom Launcher */
#custom-launcher {
  margin-left: 20px;
  padding-top: 2px;
  padding-right: 3px;
  color: @color8;
}

/* Custom Power */
#custom-power {
  padding-top: 2px;
  padding-right: 3px;
  color: @color10;
}

/* Idle Inhibitor */
#idle_inhibitor {
  padding: 2px 6px 0;
}

#idle_inhibitor.activated {
  color: @red;
}

#idle_inhibitor.deactivated {
  color: @color11;
}

/* Custom Wallpaper */
#custom-wallpaper {
  padding: 2px 4px 0 6px;
  color: @color12;
}

/* Window */
#window {
  margin: 8px 10px 0;
  padding: 2px 8px;
  background: alpha(@background, 0.4);
}

window#waybar.empty #window {
  min-width: 6px;
  border: 1px dashed alpha(@foreground, 0.4);
  background: transparent;
}

/* Custom Clipboard */
#custom-clipboard {
  margin: 8px 10px 0 0;
  padding: 0 12px 0 10px;
  font-size: 14px;
  background: alpha(@background, 0.4);
  color: @color14;
}

/* MPRIS */
#mpris {
  margin: 8px 10px 0 0;
  padding: 0 12px 0 10px;
  font-size: 12px;
  background: alpha(@background, 0.4);
  color: @color6;
}

#mpris.spotifyd.playing {
  color: @green;
}

/* Workspaces */
#workspaces {
  border-radius: 9999px;
  margin-top: 8px;
  padding: 3px 4px 4px;
  background: alpha(@background, 0.3);
}

#workspaces button {
  padding: 0;
  margin: 0 2px;
  color: alpha(@color7, 0.8);
  background: transparent;
}

#workspaces button:hover {
  box-shadow: none;
  border: none;
  color: @foreground;
}

#workspaces button.active {
  color: @foreground;
}

#workspaces button.urgent {
  color: @red;
}

/* Clock */
#clock {
  margin: 8px 20px 0 15px;
  background: transparent;
}

/* Pulseaudio */
#pulseaudio {
  border-radius: 9999px;
  margin: 8px 5px 0;
  padding: 3px 6px 3px 12px;
  font-size: 12px;
  background: alpha(@background, 0.4);
  color: @foreground;
}

/* Pacman Updates */
#custom-updates {
  border-radius: 9999px;
  margin: 8px 5px 0;
  padding: 3px 6px 3px 8px;
  font-size: 12px;
  background: alpha(@background, 0.4);
  color: @foreground;
}

#custom-updates.updated {
  color: @green;
}

#custom-updates.pending-updates {
  color: @orange;
}

/* CPU */
#cpu {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  margin: 8px 0 0 5px;
  padding: 3px 6px 3px 8px;
  font-size: 12px;
  background: alpha(@background, 0.4);
  color: @color13;
}

/* Memory */
#memory {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  margin: 8px 5px 0 0;
  padding: 3px 8px 3px 6px;
  font-size: 12px;
  background: alpha(@background, 0.4);
  color: @color14;
}

/* Network */
#network {
  border-radius: 9999px;
  margin: 8px 5px 0;
  padding: 3px 8px 3px 10px;
  font-size: 12px;
  background: alpha(@background, 0.4);
  color: @color12;
}

/* Tray */
#tray {
  border-radius: 9999px;
  margin: 8px 5px 0;
  padding: 3px 6px;
  background: alpha(@background, 0.4);
  color: @color15;
}
