@import url("./colors.css");

/* Colors */
@define-color selection #44475a;
@define-color comment #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;

/* Reset all styles */
* {
  border: none;
  border-radius: 5px;
  font-family: "DroidSansM Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @foreground;
}

/* Tooltip */
tooltip {
  border: 1px solid alpha(@foreground, 0.1);
  background: alpha(@background, 0.85);
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

tooltip label {
  color: @foreground;
}

/* Group Start */
#custom-launcher,
#custom-power,
#idle_inhibitor {
  margin: 8px 0 0 10px;
  background: alpha(@foreground, 0.3);
}

#custom-launcher:hover,
#custom-power:hover,
#idle_inhibitor.activated:hover,
#idle_inhibitor.deactivated:hover {
  color: @foreground;
}

/* Custom Launcher */
#custom-launcher {
  margin-left: 20px;
  padding-top: 2px;
  padding-right: 3px;
  font-size: 14px;
  color: @purple;
}

/* Custom Power */
#custom-power {
  padding-top: 2px;
  padding-right: 3px;
  font-size: 14px;
  color: @green;
}

/* Idle Inhibitor */
#idle_inhibitor {
  padding: 2px 6px 0;
  font-size: 14px;
}

#idle_inhibitor.activated {
  color: @red;
}

#idle_inhibitor.deactivated {
  color: @yellow;
}

/* Window */
#window {
  margin: 8px 10px 0;
  padding: 2px 8px;
  background: alpha(@foreground, 0.3);
}

/* Workspaces */
#workspaces {
  border-radius: 9999px;
  margin-top: 8px;
  padding: 3px 4px 4px;
  background: alpha(@background, 0.5);
}

#workspaces button {
  padding: 0;
  margin: 0 2px;
  color: @comment;
  background: transparent;
}

#workspaces button:hover {
  box-shadow: none;
  border: none;
  color: @foreground;
}

#workspaces button.active {
  color: @foreground;
}

#workspaces button.urgent {
  color: @red;
}

/* Clock */
#clock {
  margin: 8px 20px 0 15px;
  background: transparent;
}

/* Pulseaudio */
#pulseaudio {
  border-radius: 9999px;
  margin: 8px 5px 0;
  padding: 3px 6px 3px 12px;
  font-size: 12px;
  background: alpha(@foreground, 0.3);
  color: @foreground;
}

/* Pacman Updates */
#custom-updates {
  border-radius: 9999px;
  margin: 8px 5px 0;
  padding: 3px 6px 3px 8px;
  font-size: 12px;
  background: alpha(@foreground, 0.3);
  color: @foreground;
}

#custom-updates.updated {
  color: @green;
}

#custom-updates.pending-updates {
  color: @orange;
}

/* CPU */
#cpu {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  margin: 8px 0 0 5px;
  padding: 3px 6px 3px 8px;
  font-size: 12px;
  background: alpha(@foreground, 0.3);
  color: @pink;
}

/* Memory */
#memory {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  margin: 8px 5px 0 0;
  padding: 3px 8px 3px 6px;
  font-size: 12px;
  background: alpha(@foreground, 0.3);
  color: @cyan;
}

/* Tray */
#tray {
  border-radius: 9999px;
  margin: 8px 5px 0;
  padding: 3px 6px;
  background: alpha(@foreground, 0.3);
  color: @comment;
}
