gui:
  theme:
    activeBorderColor:
      - green
      - bold
    inactiveBorderColor:
      - colour7
    searchingActiveBorderColor:
      - cyan
      - bold
    optionsTextColor:
      - blue
    selectedLineBgColor:
      - colour8 # set to `default` to have no background colour
    cherryPickedCommitBgColor:
      - colour0
    cherryPickedCommitFgColor:
      - magenta
    unstagedChangesColor:
      - red
    defaultFgColor:
      - default
git:
  branchPrefix: "mikehu/"
  pagers:
    - externalDiffCommand: "difft --color=always"
