console_title_template = '{{ .Shell }} in {{ .Folder }}'
version = 4
final_space = true

[palette]
  comment = '#908caa'
  cyan = '#9ccfd8'
  green = '#31748f'
  orange = '#f6c177'
  pink = '#ebbcba'
  purple = '#c4a7e7'
  red = '#eb6f92'
  shade_cyan = '#56949f'
  shade_pink = '#d7827e'
  yellow = '#f6c177'

[secondary_prompt]
  template = '<p:shade_pink>❯</>❯ '
  foreground = 'p:pink'
  background = 'transparent'

[transient_prompt]
  template = '❯ '
  foreground = 'p:pink'
  background = 'transparent'
  foreground_templates = ['{{ if gt .Code 0 }}p:red{{ end }}']

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    type = 'path'
    style = 'plain'
    template = '{{ .Path }} '
    foreground = 'p:purple'
    background = 'transparent'

    [blocks.segments.options]
      style = 'agnoster_short'
      max_depth = 3
      display_root = true

      [blocks.segments.options.mapped_locations]
        "/Volumes/Pebble/" = " "

  [[blocks.segments]]
    template = '{{ .HEAD }}{{if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if .Working.Changed }}<p:orange>*</>{{ .Working.String }}{{ end }} '
    foreground = 'p:comment'
    background = 'transparent'
    type = 'git'
    style = 'plain'

  [[blocks.segments]]
    template = ' {{ .Full }}'
    foreground = 'p:shade_cyan'
    background = 'transparent'
    type = 'python'
    style = 'plain'

  [[blocks.segments]]
    template = ' {{ .Full }}'
    foreground = 'p:shade_cyan'
    background = 'transparent'
    type = 'node'
    style = 'plain'

  [[blocks.segments]]
    template = ' {{ .Full }}'
    foreground = 'p:shade_cyan'
    background = 'transparent'
    type = 'go'
    style = 'plain'

[[blocks]]
  type = 'rprompt'
  overflow = 'hidden'

  [[blocks.segments]]
    template = ' {{ .FormattedMs }} '
    foreground = 'p:yellow'
    background = 'transparent'
    type = 'executiontime'
    style = 'plain'

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    template = '❯'
    foreground = 'p:green'
    type = 'text'
    style = 'plain'
    foreground_templates = ['{{ if gt .Code 0 }}p:red{{ end }}']
